<div class="wrapper">
  <div class="slider">
    <%= image_tag 'top1.jpg',class:"img"%>
    <%= image_tag 'top2.jpg',class:"img"%>
    <%= image_tag 'top3.jpg',class:"img"%>
  </div>
  <!-- koko -->
  <div class="container">
    <div class="top">
      <div class="main">
        <div class="game_schedule">
          <div class="game_top">
            <p>試合予定</p>
            <% if current_user && current_user.admin%>
              <div class="edit">
                <%= link_to admin_game_path,class:"no-underline" do%>
                <p>編集する</p>
                <%end%>
              </div>
            <%end%>
          </div>
          <div class="game_bottom">
            <div class="detail_top">
              <p class="day"><%= @game.year%>.<%= @game.month%>.<%= @game.day%></p>
              <p class="time"><%= @game.hour%>:<%= @game.mini%>~</p>
              <p class="place"><%= @game.place%></p>
            </div>
            <div class="detail_bottom">
              <p><%= @game.title%> VS <%= @game.opponent%></p>
            </div>
          </div>
          <div class="game_bottom_iphone">
            <div class="detail">
              <p><%= @game.year%>.<%= @game.month%>.<%= @game.day%> <%= @game.hour%>:<%= @game.mini%>~</p>
              <p>会場:<%= @game.place%></p>
              <p><%= @game.title%> <br>VS <%= @game.opponent%></p>
            </div>
          </div>
        </div>
        <div class="newinfo">
          <div class="newinfo_top">
            <p>最新情報</p>
            <% if current_user && current_user.admin%>
              <div class="article_add">
                <%= link_to new_admin_post_path, class:"no-underline" do%>
                <p>記事追加</p>
                <%end%>
              </div>
            <%end%>
          </div>
          <div class="newinfo_bottom">
            <% if @posts %>
              <% @posts.each do |p| %>
                <%= link_to admin_post_path(p) , class:"no-underline" do %>
                  <div class="post">
                    <p class="day"><%= p.created_at.strftime('%Y.%m.%d') %></p>
                    <p class="category"><%= p.category%></p>
                    <p class="title"><%= p.title%></p>
                  </div>
                <%end%>
              <%end%>
            <%end%>
          </div>
        </div>
      </div>
      <div class="side">
        <a class="twitter-timeline" data-width="400" data-height="600" href="https://twitter.com/NIT_basketball?ref_src=twsrc%5Etfw">Tweets by NIT_basketball</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    <div class="bottom">
      <div class="content">
        <%= link_to admin_players_path , class:"no-underline" do %>
          <div class="img player"></div>
          <div class="title">
            <p>選手紹介</p>
          </div>
        <%end%>
      </div>
      <div class="content">
        <%= link_to about_path , class:"no-underline" do %>
          <div class="img about"></div>
          <div class="title">
            <p>チーム紹介</p>
          </div>
        <%end%>
      </div>
      <div class="content">
        <%= link_to schedule_path , class:"no-underline" do %>
          <div class="img schedule"></div>
          <div class="title">
            <p>日程</p>
          </div>
        <%end%>
      </div>
      <div class="content">
        <%= link_to article_path , class:"no-underline" do %>
          <div class="img article"></div>
          <div class="title">
            <p>記事一覧</p>
          </div>
        <%end%>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="top">
      <%= link_to new_user_session_path do%>
        <%= image_tag 'nit_logo.png',class:"img"%>
      <%end%>
      <div class="team_name">
        <h3>名古屋工業大学</h3>
        <p>University of Nagoya Institute of Techology</p>
      </div>
    </div>
    <div class="bottom">
      <div class="menu">
        <ul>
          <li>
            <%= link_to("HOME", root_path,class:"no-underline",data: {"turbolinks" => false})%>
          </li>
          <li>
            <%= link_to("最新記事", article_path, class:"no-underline")%>
          </li>
          <li>
            <%= link_to("TEAMについて", about_path, class:"no-underline")%>
          </li>
          <li>
            <%= link_to("日程", schedule_path, class:"no-underline")%>
          </li>
          <li>
            <%= link_to("部員紹介", admin_players_path, class:"no-underline")%>
          </li>
          <li>
            <%= link_to("アクセス", acssess_path, class:"no-underline")%>
          </li>
        </ul>
      </div>
      <div class="copyright">
        <p class="p_copyright">Copyright © University of Nagoya Institute of Techology.<br class="iphone_br"> All Rights Reserved.</p>
        <p class="to_top">TOP</p>
      </div>
    </div>
  </footer>
</div>
