<div class="wrapper">
  <div class="slider">
    <%= image_tag 'top1.jpg',class:"img"%>
    <%= image_tag 'top2.jpg',class:"img"%>
    <%= image_tag 'top3.jpg',class:"img"%>
  </div>
  <div class="container">
    <div class="top">
      <div class="main">
        <div class="game_schedule">
          <div class="game_top">
            <p>試合予定</p>
          </div>
          <div class="game_bottom">
            <p class="detail"><span class="mgr-30">日付:2020.04.21</span>時間:14:20~ <span class="mgr-30">会場:名古屋工業大学</span></p><br>
            <p>東海学生リーグ戦 第6節 VS 名古屋工業大学</p>
          </div>
        </div>
        <div class="newinfo">
          <div class="newinfo_top"><p>最新情報</p></div>
          <div class="newinfo_bottom">
            <ul>
              <li class="article">
                <p class="day">2020.04.21</p>
                <p class="category">最新情報</p>
                <p class="text">2020年OB会中止のご報告</p>
              </li>
              <li class="article">
                <p class="day">2020.04.21</p>
                <p class="category">最新情報</p>
                <p class="text">第59回東海学生トーナメントの試合結果</p>
              </li>
              <li class="article">
                <p class="day">2020.04.21</p>
                <p class="category">最新情報</p>
                <p class="text">第59回東海学生トーナメントの試合結果ssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
              </li>
              <li class="article">
                <p class="day">2020.04.21</p>
                <p class="category">最新情報</p>
                <p class="text">第59回東海学生トーナメントの試合結果ssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
              </li>
              <li class="article">
                <p class="day">2020.04.21</p>
                <p class="category">最新情報</p>
                <p class="text">第59回東海学生トーナメントの試合結果ssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
              </li>
              <li class="article">
                <p class="day">2020.04.21</p>
                <p class="category">最新情報</p>
                <p class="text">第59回東海学生トーナメントの試合結果ssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
              </li>
              <li class="article">
                <p class="day">2020.04.21</p>
                <p class="category">最新情報</p>
                <p class="text">第59回東海学生トーナメントの試合結果ssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
              </li>
              <li class="article">
                <p class="day">2020.04.21</p>
                <p class="category">最新情報</p>
                <p class="text">第59回東海学生トーナメントの試合結果ssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
              </li>
              <li class="article">
                <p class="day">2020.04.21</p>
                <p class="category">最新情報</p>
                <p class="text">第59回東海学生トーナメントの試合結果ssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
              </li>
              <li class="article">
                <p class="day">2020.04.21</p>
                <p class="category">最新情報</p>
                <p class="text">第59回東海学生トーナメントの試合結果ssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="side">
        <a class="twitter-timeline" data-width="400" data-height="600" href="https://twitter.com/NIT_basketball?ref_src=twsrc%5Etfw">Tweets by NIT_basketball</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    <div class="bottom">
      <div class="content">
        <%= link_to member_path , class:"no-underline" do %>
          <div class="img player"></div>
          <div class="title">
            <p>選手紹介</p>
          </div>
        <%end%>
      </div>
      <div class="content">
        <%= link_to about_path , class:"no-underline" do %>
          <div class="img about"></div>
          <div class="title">
            <p>チーム紹介</p>
          </div>
        <%end%>
      </div>
      <div class="content">
        <%= link_to schedule_path , class:"no-underline" do %>
          <div class="img schedule"></div>
          <div class="title">
            <p>日程</p>
          </div>
        <%end%>
      </div>
      <div class="content">
        <%= link_to article_path , class:"no-underline" do %>
          <div class="img article"></div>
          <div class="title">
            <p>記事一覧</p>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
