<!DOCTYPE html>
<html>
  <head>
    <title>Nitbaskethp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=devide-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script type="text/javascript">
        $(document).on('turbolinks:load',function(){
          $('.slider').bxSlider({
              auto: true,
              pause: 5000,
              arrows: false
          });

          $('.fa-bars').click(function(){
            $('.menu').slideDown();
            $('.fa-bars').hide();
            $('.wrapper_angle').show();
          })

          $('.wrapper_angle').click(function(){
            $('.menu').slideUp();
            $('.wrapper_angle').hide();
            $('.fa-bars').show();
          })
        });
    </script>
  </head>

  <body data-turbolinks="false">
    <header class="header">
      <div class="left">
        <div class="logo">
          <%= link_to root_path do%>
            <%= image_tag 'nit_logo.jpg',class:"img_logo"%>
          <%end%>
        </div>
      </div>
      <div class="right">
        <div class="name">
          <%= link_to root_path, class:"no-underline", data: {"turbolinks" => false} do%>
            <h1>名古屋工業大学バスケットボール部</h1>
          <%end%>
        </div>
        <div class="team_name">
          <p>University of Nagoya Institute of Techology Basketball Team</p>
        </div>
        <div class="menu">
          <ul>
            <li>
              <%= link_to("HOME", root_path,class:"no-underline",data: {"turbolinks" => false})%>
            </li>
            <li>
              <%= link_to("最新記事", article_path, class:"no-underline")%>
            </li>
            <li>
              <%= link_to("TEAMについて", about_path, class:"no-underline")%>
            </li>
            <li>
              <%= link_to("日程", schedule_path, class:"no-underline")%>
            </li>
            <li>
              <%= link_to("部員紹介", admin_players_path, class:"no-underline")%>
            </li>
            <li>
              <%= link_to("アクセス", acssess_path, class:"no-underline")%>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <header class="header_for_iphone">
      <div class="top">
        <div class="left">
          <%= link_to root_path do%>
            <%= image_tag 'nit_logo.jpg',class:"img_logo"%>
          <%end%>
          <%= link_to root_path , class:"no-underline" do%>
            <h4>名古屋工業大学</h4>
          <%end%>
        </div>
        <div class="right">
          <i class="fas fa-bars"></i>
          <div class="wrapper_angle">
            <i class="fas fa-angle-double-up"></i>
          </div>
        </div>
      </div>
      <div class="bottom">
        <h5>男子バスケットボール部</h5>
      </div>
      <div class="menu">
        <ul>
          <li>
            <%= link_to("HOME", root_path,class:"no-underline",data: {"turbolinks" => false})%>
          </li>
          <li>
            <%= link_to("最新記事", article_path, class:"no-underline")%>
          </li>
          <li>
            <%= link_to("TEAMについて", about_path, class:"no-underline")%>
          </li>
          <li>
            <%= link_to("日程", schedule_path, class:"no-underline")%>
          </li>
          <li>
            <%= link_to("部員紹介", admin_players_path, class:"no-underline")%>
          </li>
          <li>
            <%= link_to("アクセス", acssess_path, class:"no-underline")%>
          </li>
        </ul>
      </div>
    </header>

    <% if flash[:notice] || flash[:alert]%>
      <% if flash[:notice]%>
        <div class="flashes">
          <p class="notice"><%= notice %></p>
        </div>
      <% else %>
        <div class="flashes">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>
    <% end %>

    <% if current_user && current_user.admin%>
    <div class="admini_login">
      <p class="admini">管理者ログイン中</p>
      <%= link_to destroy_user_session_path, class:"no-underline", method: :delete do%>
        <p class="logout">ログアウト</p>
      <%end%>
    </div>
    <%end%>


    <div class="content_yield">
      <%= yield %>
    </div>
  </body>
</html>
